
<body>
    




    <% if (users.length !=0) { %>
        
        <% users.forEach(function(user){ %>

            <div class="card" style="width: 18rem;">
              <img src="<%= user.file_src%>" alt="">
              <div class="card-body">
                <h5 class="card-title"><%= user.id%></h5>
                <p class="card-text">Some quick example text to build on the card
                  title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <% }); %>


        <%} else{ %>
        <h1>No Product found!</h1>
        <% } %>
</body>
